<div>
  <input type="search" class="form-control" placeholder="Buscar Ônibus" (change)="updateTable($event)" [(ngModel)]="searchText" />
</div>

<table class="table table-dark table-hover table-striped"  *ngIf="exibeLista"->
    <thead class="thead-light">
      <tr>
          <th>Código</th>
          <th>Nome </th>                
      </tr>
  </thead>
  <tbody>        
      <tr *ngFor="let onibus of onibusItens" class="">
          <td >
              {{onibus.codigo}}
          </td> 
          <td >
              {{onibus.nome}}                        
          </td> 
      </tr>

  </tbody>
</table>

